$min-width = 335px
$gap = 20px
$container-tablet = 656px
$container-laptop = 988px
$container-desktop = 1400px
$column-gap = 20px
$laptop-column-gap = 60px
$column = 12
$border-radius = 6px
$mobile-width = 360px

$mobile = "(min-width: 414px)"
$mobile-only = "(max-width: 767px)"
$tablet = "(min-width: 768px)"
$tablet-only = "(min-width: 768px) and (max-width: 1023px)"
$laptop = "(min-width: 1024px)"
$desktop = "(min-width: 1440px)"

$main-font = 'SuisseIntl', serif;

$text-main = #2B2B2B
$text-grey = #81838F
$footer-back = #1F1F1F
$black = #2B2B2B
$white = #F2F3F5
$dark-grey = #6C6E7A